.modularity-mod-json-render {

  .c-collection {
    padding:0px;
  }

  .accordion-table__head {
    display: flex;
    padding: 8px 24px;
    background: #f5f5f5;
    font-size: .8em;
  }

  .c-accordion__button-wrapper {
    display: flex;

    .c-icon {
      position:absolute;
      right:30px;
      pointer-events: none;
    }

    .colum-alignment {
      width:1%;
      flex-grow: 0;

    }

    span {
      width:20%;
      flex-grow: 1;
      pointer-events: none;
    }
  }

  .gutter {
   padding-left: calc(var(--base, 8px) * 2);
   padding-right: calc(var(--base, 8px) * 2);
  }

  .c-field__inner {
    background-color: transparent;
  }

  .c-card__footer .o-grid div {
    margin-bottom: 0px;
  }

  .c-card__footer {
    .o-grid {
      justify-content: center;
    }

    .modularity-json-render__pages {
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (min-width: 56rem) {
      .c-card__footer {
        padding-left:calc(var(--base, 8px) * 2);
        padding-right:calc(var(--base, 8px) * 2);
      } 
  }
}





