#json-api-fields {

    /* General */

    .spinner {
        float: none;
        display: block;
        width: auto;
        height: auto;
        padding: 10px 10px 30px 10px;
    }

    /* JSON tree */

    ul.json-tree, ul.json-tree ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul.json-tree ul {
        margin-left: 10px;
    }

    ul.json-tree li {
        margin: 0;
        padding: 0 7px;
        line-height: 25px;
        color: #464b50;
        border-left: 1px solid #82878c;

        .tree-select {
            text-decoration: none;
            margin: 0 0 0 4px;
        }
    }

    ul.json-tree li:last-child {
        border-left: none;
    }

    ul.json-tree li:before {
        position: relative;
        top: -0.3em;
        height: 1em;
        width: 12px;
        color: white;
        border-bottom: 1px solid #82878c;
        content: "";
        display: inline-block;
        left: -7px;
    }

    ul.json-tree li:last-child:before {
        border-left: 1px solid #82878c;
    }

    /* Drag and drop style */

    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 40px 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;

        ul, li {
            list-style: none;
        }

        @media screen and (max-width: 1210px) {
            display: block;
        }
    }

    .grid__item:first-child {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .grid__item:last-child {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .drop-container {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    .drop-area {
        padding: 0 9px 9px 9px;
        min-height: 152px;
        border: 1px dashed #a0a5aa;

        &--white {
            background-color: #fff;
        }

        &--green {
            background-color: #98fb98;
        }

        &--red {
            background-color: #f08080;
        }
    }

    .drop-area__item {
        background: #fff;
        cursor: move;

        &:hover {
            background: #efefef;
        }

        &--transparent {
            opacity: 0;
        }
    }

    /* WP sortable menu fixes */

    .menu-item-handle {
        width: auto;

        &:hover {
            border-color: #ddd;
        }
    }

    .description-wide {
        width: 100%;
    }

    .menu-item-settings {
        width: auto;
        padding: 10px;
    }

    .item-edit::before {
        content: '\f158';
    }
}

