#json-api-fields {
    .spinner {
        float: none;
        display: block;
        width: auto;
        height: auto;
        padding: 10px 10px 30px 10px;
    }

    .url-input {
        width: 100%;
    }

    li, p {
        word-break: break-all;
    }

    ul.json-tree, ul.json-tree ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul.json-tree ul {
        margin-left: 10px;
    }

    ul.json-tree li {
        margin: 0;
        padding: 0 7px;
        line-height: 25px;
        color: #464b50;
        border-left: 1px solid #82878c;

        .tree-select {
            text-decoration: none;
            margin: 0 0 0 4px;
        }
    }

    ul.json-tree li:last-child {
        border-left: none;
    }

    ul.json-tree li:before {
        position: relative;
        top: -0.3em;
        height: 1em;
        width: 12px;
        color: white;
        border-bottom: 1px solid #82878c;
        content: "";
        display: inline-block;
        left: -7px;
    }

    ul.json-tree li:last-child:before {
        border-left: 1px solid #82878c;
    }

    .grid-item {
        ul, li {
            list-style: none;
        }

        //ul.json-tree li {
        //    line-height: 45px;
        //}
        //ul.json-tree li:before {
        //    height: 1.7em;
        //}
    }

    /* ================ GRID ============== */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .grid-item {
        border:1px solid lightseagreen;
        padding: 20px;
    }

    .drag-item {
        margin: 0 0 10px 0;
        padding: 8px;
        border: 1px solid #ccc;
        background: #f7f7f7;
        border-radius: 3px;
        cursor: move;

        &:hover {
            background: #e6e6e6;
        }
    }

    .drop-area {
        padding: 10px;
        min-height: 103px;
        border: 1px dashed palegreen;

        .drag-item {
            &:last-child {
                margin: 0;
            }
        }
    }

}