.modularity-mod-json-render {

  .c-accordion__button-wrapper {
    display: flex;

    .c-icon {
      position:absolute;
      right:30px;
      pointer-events: none;
    }

    .colum-alignment {
      width:1%;
      flex-grow: 0;

    }

    span {
      width:20%;
      flex-grow: 1;
      pointer-events: none;
    }
  }

  .c-card__footer .o-grid div {
    margin-bottom: 0px;
  }
  
}



